.footer-message {
  text-align: center;
}

.footer-message a {
  display: block;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-message img[alt="EnviTrace"] {
  width: 200px;
  height: auto;
}
