syntax: glob
*.log
.DS_Store
_build/
.project
*.cov
*_restart
*.s_point
*.wells
*.wells_debug
*_[0-9]
*.dat
*.json
*.yaml
output.dat
# MADS files
obj
bin
wells
.project
.cproject
*.exe
*.o
*.dylib
*.so
*.so.1
*.results
*iterationresults
*.intermediate_residuals
*.intermediate_results
*lmjacobian.dat
*intermediate.mads
*-rerun.mads
*-error.mads
*-truth.mads
*.mads-input
*.*-restart-*
*.restart_*
*.restart_info
*.cmdline_hist
*.eigen*
*.covar*
*.correl*
*.residu*
*.jacob*
*.gsens*
*.lsens*
*.igrnd*
*.ppsd*
*.igdp*
*.mcrnd*
*.pssa*
*.abagus*
*.forward
*.archive
*.runs
*.phi
*.seed
*.seed0
*debug*
*.running
*.s_point
*.s_well
*.ofe
*.igpd-opt*
*.mads_output_*
*.outp-*
*.vtk
*.btc
*.btc-peak
*.btc2
*.out
*.sobol_sens_index
*.sobol_sens_total
*output
*.wells
# Genereal files
*.dat
*.zip
*.tar
*.tgz
*.gz
*.pdf
*.txt
*.doc
*.docx
*.swp
*.pars
*.bgr
*.o
*.eas
*.par
*.ctl
*.ps
*.dbg
*.sh
*.a
*.so
*.zip
*.orig
# LINUX files
.nfs*
# MAC files
._*
._.*
.DS*
# PEST files
*.cnd
*.drf
*.jac
*.jco
*.jst
*.mtt
*.rec
*.rei
*.res
*.rst
*.sen
*.seo
svrmodels
*.svr
*madsjl_cmdline_hist*
examples/anasol/test.mads
examples/model_coupling_*
examples/contamination/w01-w13a_w20a-w13a_w20a*.svg
examples/sensitivity/*.jld2
*/.ipynb_checkpoints/*
